%div{:class=>'topbar'}
 %h1
  %img{:src=>"/assets/logos/weed_warriors.png", :alt => "Weed Warriors"}
 %p{:class=>'alert-message block-message', :id=>"tagline"}
  Information about Cirsium arvense - "Canda thistle" or "creeping thistle"
%div{:id=>'species-content'}
 %div{:class=>'species-description'}
  %h3 Description
  %p Canada thistle is a perennial plant with deep and extensive horizontal root system that can form new shoots. Plants grow to 1-4 feet tall and are branched. Leaves lack petioles (leaf stems) and have spiny edges. Flowers are purple (occasionally, white) and measure &frac12; to &frac34; of an inch in diameter.
  %h3 Ecological impact &mdash; Invasiveness rank 76/100
  %p Canada thistle threatens natural communities by competing for water and nutrients, displacing native vegetation, and decreasing species diversity. It produces allelopathic chemicals, which inhibit the growth of native plants. This species has been reported to accumulate nitrates that cause poisoning in animals. Spines scratch the skin, sometimes causing infections.  Canada thistle is an aggressive agricultural weed and has the potential to reduce crop yields by 100%. Canada thistle spreads primarily by shoots from lateral roots, readily by stem and root fragments, as well as from seeds. An individual plant may produce over 40,000 seeds per year.
  %h3 Control
  %p Once established, control of Canada thistle is very difficult. Herbicide control after mowing is the most effective technique, but repeated mowing or hand pulling – if repeated monthly for several years can be effective. Carefully pull this plant removing as much of the underground roots as possible, and securely double bag all plant parts and throw in the trash or burn. Be sure to wear thick gloves, pants and long sleeves!
 %div{:class=>'species-images'}
  %a{:href=>"/assets/species/CIAR4/CIAR4-baby-800x600.jpg"}
   %img{:src=>"/assets/species/CIAR4/CIAR4-baby-300x225.jpg",:title=>"A seedling"}
  %a{:href=>"/assets/species/CIAR4/CIAR4-young-800x766.jpg"}
   %img{:src=>"/assets/species/CIAR4/CIAR4-young-300x287.jpg",:title=>"A young plant"}
  %a{:href=>"/assets/species/CIAR4/CIAR4-closeup-775x768.jpg"}
   %img{:src=>"/assets/species/CIAR4/CIAR4-closeup-300x297.jpg",:title=>"Flower closeup"}
  %a{:href=>"/assets/species/CIAR4/CIAR4-leaf-800x600.jpg"}
   %img{:src=>"/assets/species/CIAR4/CIAR4-leaf-300x225.jpg",:title=>"Mature leaf"}
  %a{:href=>"/assets/species/CIAR4/CIAR4-partial-800x670.jpg"}
   %img{:src=>"/assets/species/CIAR4/CIAR4-partial-300x251.jpg",:title=>"Partially bloomed plant"}
  %a{:href=>"/assets/species/CIAR4/CIAR4-macro-800x600.jpg"}
   %img{:src=>"/assets/species/CIAR4/CIAR4-macro-300x225.jpg",:title=>"A patch"}
