%div{:class=>'topbar'}
 %h1
  %img{:src=>"/assets/logos/weed_warriors.png", :alt => "Weed Warriors"}
 %p{:class=>'alert-message block-message', :id=>"tagline"}
  Information about Leucanthemum vulgare Lam. - "Oxeye Daisy"
%div{:id=>'species-content'}
 %div{:class=>'species-description'}
  %h3 Description
  %p Oxeye daisy (OED) is a shallow-rooted, perennial plant with numerous stems that grows to 1-3 feet tall. Leaves are 2-5 inches long and spoon-shaped with rounded teeth and lobes. Solitary daisy-like flowerheads at the ends of stems are 1-2 inches in diameter. There are similar non-native species: Shasta daisy (long lance-shaped leaves, much less invasive than OED) and Mayweeds (feathery leaves, less invasive than OED). Compared to oxeye daisy, the native Arctic daisy is slightly succulent, grows much lower to the ground, has wedge-shaped leaves, and is found in coastal marshes or rocky shores.
  %h3 Ecological impact &mdash; Invasiveness rank 61/100
  %p Often included in ‘wildflower mixes,’ oxeye daisy is invasive in many natural habitats where it forms dense colonies, which can displace native species.  OED can quickly replace up to 50% of the grass species in pastures.  Grazing animals avoid OED and it contains chemicals toxic to insect herbivores.  OED can host several plant diseases.  OED reproduces vegetatively and by seed (1,300-4,000/plant).  Seeds are thought to be viable for at least 20 years.
  %h3 Control
  %p Hand-pulling and mechanical control can be effective for small infestations when completed before seed production and repeated over multiple years. Treated areas should be regularly monitored to control any regrowth.  Regular mowing will control oxeye daisy in lawns.  Securely double bag all pulled plant material and place in the trash or burn.
 %div{:class=>'species-images'}
  %a{:href=>"/assets/species/LEVU/LEVU-anothercloseup-600x434.jpg"}
   %img{:src=>"/assets/species/LEVU/LEVU-anothercloseup-300x217.jpg",:title=>"A closeup"}
  %a{:href=>"/assets/species/LEVU/LEVU-closeup-600x522.jpg"}
   %img{:src=>"/assets/species/LEVU/LEVU-closeup-300x261.jpg",:title=>"Another closeup"}
  %a{:href=>"/assets/species/LEVU/LEVU-leaves-600x882.jpg"}
   %img{:src=>"/assets/species/LEVU-leaves-300x441.jpg",:title=>"Leaves"}
  %a{:href=>"/assets/species/LEVU/LEVU-oneplant-600x450.jpg"}
   %img{:src=>"/assets/species/LEVU/LEVU-oneplant-300x225.jpg",:title=>"A full plant"}
  %a{:href=>"/assets/species/LEVU/LEVU-patch-600x761.jpg"}
   %img{:src=>"/assets/species/LEVU/LEVU-patch-300x381.jpg",:title=>"A patch"}