%div{:class=>'topbar'}
 %h1
  %img{:src=>"/assets/logos/weed_warriors.png", :alt => "Weed Warriors"}
 %p{:class=>'alert-message block-message', :id=>"tagline"}
  Information about Lupinus polyphyllus Lindl. - "Bigleaf Lupine"
%div{:id=>'species-content'}
 %div{:class=>'species-description'}
  %h3 Description
  %p Bigleaf lupine is a perennial plant that grows 1-3 feet high. Leaves have long stalks and 10-18 leaflets (the presence of 10 or more leaflets and overall larger plant size distinguishes this plant from native lupines). Flower clusters are 2.5 to 10 inches long. Flowers range from blue to purple to deep pink to pale. The distinctly hairy seed pods produce 6-10 seeds each.
  %h3 Ecological impact &mdash; Invasiveness rank 71/100
  %p Bigleaf lupine can grow in dense infestations where it shades and outcompetes native vegetation.  Bigleaf lupine hybridizes freely with the native Nootka lupine and these hybrids have been found in natural areas, such as subalpine meadows. Bigleaf lupine contains alkaloids that are toxic to animals and fixes nitrogen &mdash; likely making the soil more favorable to other non-native species. Bigleaf lupine reproduces vegetatively by rhizomes (underground runners) and by seeds.  About 2,500 seeds are produced per plant and they may be viable up to 50 years.
  %h3 Control
  %p Small populations can be controlled by digging up the underground rhizomes, but several weedings may be necessary to eliminate plants resprouting from rhizomes and the seedbank. Securely double bag up all pulled plant material and place in trash or burn. Mowing twice per year before the plants flower prevents the spread of  populations and may eradicate populations if repeated for 3 to 5 years.
 %div{:class=>'species-images'}
  %a{:href=>"/assets/species/LUPOP4/LUPOP4-baby-600x900.jpg"}
   %img{:src=>"/assets/species/LUPOP4/LUPOP4-baby-300x450.jpg",:title=>"A young plant"}
  %a{:href=>"/assets/species/LUPOP4/LUPOP4-leaf-600x674.jpg"}
   %img{:src=>"/assets/species/LUPOP4/LUPOP4-leaf-300x337.jpg",:title=>"Closeup of a leaf"}
  %a{:href=>"/assets/species/LUPOP4/LUPOP4-single-600x803.jpg"}
   %img{:src=>"/assets/species/LUPOP4/LUPOP4-single-300x402.jpg",:title=>"A single plant"}
  %a{:href=>"/assets/species/LUPOP4/LUPOP4-patch-600x456.jpg"}
   %img{:src=>"/assets/species/LUPOP4/LUPOP4-patch-300x228.jpg",:title=>"A patch"}