%div{:class=>'topbar'}
 %h1
  %img{:src=>"/assets/logos/weed_warriors.png", :alt => "Weed Warriors"}
 %p{:class=>'alert-message block-message', :id=>"tagline"}
  Information about Melilotus alba - "White Sweetclover"
%div{:id=>'species-content'}
 %div{:class=>'species-description'}
  %h3 Description
  %p White sweetclover is a biennial (flowering in its second year) plant that can reach 2-5 feet tall and is often branched. Leaves are trifoliate (arranged in three leaflets) and 1/2 to 2 inches long. The fragrant white flowers are 1/8 to 1/4 inch long and arranged in many-flowered, elongate clusters. A similar species is yellow sweetclover, which has yellow instead of white flowers and is slightly less invasive.
  %h3 Ecological impact &mdash; Invasiveness rank 81/100
  %p White sweetclover degrades natural grassland communities by overtopping native species.  It contains coumarin, which is toxic to animals. White sweet clover is associated with over 28 viral diseases and produces allelopathic chemicals that inhibit the growth of native plants.  White sweetclover fixes nitrogen, altering soil chemistry to the detriment of native plant communities. In Alaska white sweetclover is invading natural areas with disturbed soil such as river gravel bars and recently burned areas. Each plant is capable of producing up to 350,000 seeds!
  %h3 Control
  %p White sweetclover can be managed with hand pulling or cutting. Plants should be pulled before seeds mature with effort made to remove as much of the roots as possible. Pulled material should be securely double bagged and placed in the trash. Repeat treatments may be necessary until the seed bank is exhausted.
 %div{:class=>'species-images'}
  %a{:href=>"/assets/species/MEAL12/MEAL12-baby-600x731.jpg"}
   %img{:src=>"/assets/species/MEAL12/MEAL12-baby-300x366.jpg",:title=>"A young plant"}
  %a{:href=>"/assets/species/MEAL12/MEAL12-stalk-600x800.jpg"}
   %img{:src=>"/assets/species/MEAL12/MEAL12-stalk-300x400.jpg",:title=>"A stalk"}
  %a{:href=>"/assets/species/MEAL12/MEAL12-wholeplant-512x900.jpg"}
   %img{:src=>"/assets/species/MEAL12/MEAL12-wholeplant-300x527.jpg",:title=>"A full grown plant"}