%div{:class=>'topbar'}
 %h1
  %img{:src=>"/assets/logos/weed_warriors.png", :alt => "Weed Warriors"}
 %p{:class=>'alert-message block-message', :id=>"tagline"}
  Information about Melilotus officinalis - "Yellow Sweetclover"
%div{:id=>'species-content'}
 %div{:class=>'species-description'}
  %h3 Description
  %p Yellow sweetclover is a biennial plant that can reach 2-5 feet tall and is often branched.  Leaves are trifoliate (arranged in three leaflets) and 1/2 to 2 inches long.  The fragment yellow flowers are 1/8 to 1/4 inch long and arranged in many flowered cylindrical clusters.  Yellow sweetclover is very similar to its cousin white sweetclover, which has white instead of yellow flowers and is more invasive.
  %h3 Ecological impact &mdash; Invasiveness rank 69/100
  %p Yellow sweetclover somewhat less invasive and less common in Alaska than its cousin White sweetclover.  Both species degrade natural grassland communities by overtopping and shading native species.  Both sweetclovers contains coumarin, which is toxic to animals and fix nitrogen, altering soil chemistry to the detriment of native plant communities.  Each plant is capable of producing up to 350,000 seeds!
  %h3 Control
  %p Yellow sweetclover can be managed with hand pulling or cutting.  Plants should be pulled before seeds mature with effort made to remove as much of the roots as possible. Pulled material should be securely double bagged and placed in the trash.  Repeat treatments may be necessary until the seed bank is exhausted.
 %div{:class=>'species-images'}
  %a{:href=>"/assets/species/MEOF/MEOF-full-600x849.jpg"}
   %img{:src=>"/assets/species/MEOF/MEOF-baby-300x425.jpg",:title=>"A full plant"}
  %a{:href=>"/assets/species/MEOF/MEOF-seeding-600x366.jpg"}
   %img{:src=>"/assets/species/MEOF/MEOF-leaf-300x183.jpg",:title=>"A seeding plant"}
  %a{:href=>"/assets/species/MEOF/MEOF-single-600x450.jpg"}
   %img{:src=>"/assets/species/MEOF/MEOF-single-300x225.jpg",:title=>"A single plant"}
