%div{:class=>'topbar'}
 %h1
  %img{:src=>"/assets/logos/weed_warriors.png", :alt => "Weed Warriors"}
 %p{:class=>'alert-message block-message', :id=>"tagline"}
  Information about Prunus padus - "European bird cherry" (or "chokecherry")
%div{:id=>'species-content'}
 %div{:class=>'species-description'}
  %h3 Description
  %p European bird cherry (EBC) is a small shrub or tree that can grow up to 30 feet tall.  Bark is purple-gray to green-gray and fairly smooth, often with small white dots (pores known as lenticels).  Leaves have a long petiole (leaf stem), are up to 4 inches long, and sharply serrated.  In Alaska, EBC blooms in early June and produces elongate clusters of small, showy, white flowers, which mature to small black cherries by late summer.
  %h3 Ecological impact &mdash; Invasiveness rank 74/100
  %p Introduced to Alaska as an ornamental tree, the European bird cherry’s fruits are eaten by birds and spread to natural forested areas where EBC is rapidly beginning to dominate the vegetation.  The dense growth crowds out native vegetation such as willow, potentially limiting food availability for moose, snowshoe hares, and salmon (who eat insects from native tree leaves). Additionally, EBC contains a cyanogenic glycoside and can be toxic to mammals with segmented stomachs (rumens). Three moose have died after eating these trees in the Anchorage area (Alaska Department of Fish and Game).
  %h3 Control
  %p European bird cherry trees reproduce by seed, roots, and cuttings. So in order to control this aggressive plant, all parts of the plant must be removed from the ground and forest. For small trees, start by grasping the stem and wiggling the tree loose from the soil and then pulling the tree out.  Like other invasive weeds, EBC trees can be disposed of in the trash.  For larger trees - proper disposal can be tricky – contact the Anchorage Invasive Plant program manager (email weeds.free.ak@gmail.com) for assistance and to check out a Weed Wrench for removing medium sized trees. Cutting EBC trees will not kill them, so the largest trees require an herbicide to control them, which is why we appreciate your help to pull as many small trees as possible before they get too big!
 %div{:class=>'species-images'}
  %a{:href=>"/assets/species/PRPA5/PRPA5-berries-600x440.jpg"}
   %img{:src=>"/assets/species/PRPA5/PRPA5-berries-300x220.jpg",:title=>"Berries"}
  %a{:href=>"/assets/species/PRPA5/PRPA5-fullbloom-519x900.jpg"}
   %img{:src=>"/assets/species/PRPA5/PRPA5-fullbloom-300x520.jpg",:title=>"In full bloom"}
  %a{:href=>"/assets/species/PRPA5/PRPA5-leaf2-600x606.jpg"}
   %img{:src=>"/assets/species/PRPA5/PRPA5-leaf2-300x303.jpg",:title=>"A leaf"}
  %a{:href=>"/assets/species/PRPA5/PRPA5-leafcloseup-600x487.jpg"}
   %img{:src=>"/assets/species/PRPA5/PRPA5-leafcloseup-300x244.jpg",:title=>"A leaf closeup"}