%div{:class=>'topbar'}
 %h1
  %img{:src=>"/assets/logos/weed_warriors.png", :alt => "Weed Warriors"}
 %p{:class=>'alert-message block-message', :id=>"tagline"}
  Information about Prunus virginiana - "Canada red cherry" ("chokecherry")
%div{:id=>'species-content'}
 %div{:class=>'species-description'}
  %h3 Description
  %p Chokecherry is very similar to European bird cherry (EBC) except that chokecherry’s leaves turn dark red in July.  Both of these species are shrubs or trees that can grow up 30 feet tall.  Bark is grayish and fairly smooth, often with small white dots (pores known as lenticels).  Leaves have a long petiole (leaf stem), are up to 4 inches long, and sharply serrated.  In Alaska, chokecherry blooms in early June and produces elongated clusters of small showy white flowers, which it holds more upright than EBC.  Flowers mature to small black cherries by late summer.
  %h3 Ecological impact &mdash; Invasiveness rank 74/100
  %p Introduced to Alaska as an ornamental tree, the chokecherry’s fruits are eaten by birds and spread to natural forested areas.  Chokecherry’s cousin European bird cherry is beginning to dominate the vegetation along Anchorage’s creeks and other natural forested areas.  Chokecherry is not nearly as widespread, but it is believed by ecologists to be similarly invasive to EBC (which had a head start).
  %h3 Control
  %p Chokecherry trees reproduce by seed, roots, and cuttings.  So in order to control this aggressive plant, all parts of the plant must be removed from the ground and forest.  For small trees, start by grasping the stem and wiggling the tree loose from the soil and then pulling the tree out.  Like other invasive weeds, small chokecherry trees can be disposed of in the trash.  For larger trees - proper disposal can be tricky – contact the Anchorage Invasive Plant program manager (email weeds.free.ak@gmail.com) for assistance and to check out a Weed Wrench for removing medium sized trees.  Cutting cherry trees will not kill them, so the largest trees require an herbicide to control them, which is why we appreciate your help to pull as many small trees as possible before they get too big!
 %div{:class=>'species-images'}
  %a{:href=>"/assets/species/PRVI/PRVI-baby-600x765.jpg"}
   %img{:src=>"/assets/species/PRVI/PRVI-baby-300x383.jpg",:title=>"A young plant"}
  %a{:href=>"/assets/species/PRVI/PRVI-leaves-600x450.jpg"}
   %img{:src=>"/assets/species/PRVI/PRVI-leaves-300x225.jpg",:title=>"Closeup on leaves"}
  %a{:href=>"/assets/species/PRVI/PRVI-whole-600x800.jpg"}
   %img{:src=>"/assets/species/PRVI/PRVI-whole-300x400.jpg",:title=>"A single plant"}
