%div{:class=>'topbar'}
 %h1
  %img{:src=>"/assets/logos/weed_warriors.png", :alt => "Weed Warriors"}
 %p{:class=>'alert-message block-message', :id=>"tagline"}
  Information about Sonchus arvensis - "Perennial sowthistle"
%div{:id=>'species-content'}
 %div{:class=>'species-description'}
  %h3 Description
  %p Despite their common names, sowthistles resemble dandelions more than they do true thistles.  Perennial Sowthistle (PS) typically grows 2-4 feet tall and develops a horizontal root system that can extend up to 10 feet deep.  All parts of the plant contain a milky white juice.  Leaves are alternate, lance-shaped (much longer – 2.5 to 16 inches - than wide) with a clasping base and soft prickly edges that may be deeply toothed.  Flowers are bright yellow and resemble dandelion.
  %h3 Ecological impact &mdash; Invasiveness rank 73/100
  %p At high densities, PS can drastically reduce water resources and possibly decrease native plant diversity.  It is also a host to a number of plant pests.  Ps can rapidly colonize an area producing 4,000 to 13,000 seeds per plant and generating new plants via underground runners and root fragments. 
  %h3 Control
  %p PS reproduces by seed and vegetatively by rhizomes (underground runners).  PS can be controlled with hand-pulling or cutting.  Try to pull prior to flowering and be prepared to pull a few times per season for a few years.  If possible, use a shovel and try to get as much of the root as possible without breaking up pieces of the roots and rhizomes.  Double bag all removed parts of the plant and place in the trash or burn.
 %div{:class=>'species-images'}
  %a{:href=>"/assets/species/SOAR2/SOAR2-flowerbutt-600x402.jpg"}
   %img{:src=>"/assets/species/SOAR2/SOAR2-flowerbutt-300x201.jpg",:title=>"Underside of flower"}
  %a{:href=>"/assets/species/SOAR2/SOAR2-flowerfront-600x627.jpg"}
   %img{:src=>"/assets/species/SOAR2/SOAR2-flowerfront-300x314.jpg",:title=>"Front of flower"}
  %a{:href=>"/assets/species/SOAR2/SOAR2-wholeplant-600x800.jpg"}
   %img{:src=>"/assets/species/SOAR2/SOAR2-wholeplant-300x400.jpg",:title=>"A whole plant"}
