%div{:class=>'topbar'}
 %h1
  %img{:src=>"/assets/logos/weed_warriors.png", :alt => "Weed Warriors"}
 %p{:class=>'alert-message block-message', :id=>"tagline"}
  Information about Tanacetum vulgare - "common tansy"
%div{:id=>'species-content'}
 %div{:class=>'species-description'}
  %h3 Description
  %p Common tansy is a perennial plant that grows from 1.5 to 5 feet tall.  Leaves are fern-like and have a strong odor when crushed.  Stems are upright and attached to stout rhizomes (underground runners).  Yellow flowerheards resemble buttons.
  %h3 Ecological impact &mdash; Invasiveness rank 60/100
  %p Common tansy can form dense infestations, which displace native plant species.  Common tansy is unpalatable and poisonous in large quantities, thus reducing the quality of foraging at infested sites.  Common tansy is associated with several plant viruses and can restrict the flow of water when growing along stream banks.  Common tansy reproduces vegetatively from long rhizomes and seeds (as many as 50,000/plant).
  %h3 Control
  %p Small populations of common tansy can be removed by hand pulling or digging as long as all rhizome fragments are removed.  Gloves should be worn when pulling tansy as this species can cause dermatitis.  Plants should be securely double bagged and placed in the trash or burned.
 %div{:class=>'species-images'}
  %a{:href=>"/assets/species/TAVU/TAVU-whole-600x445.jpg"}
   %img{:src=>"/assets/species/TAVU/TAVU-whole-300x223.jpg",:title=>"A full plant"}
  %a{:href=>"/assets/species/TAVU/TAVU-closeup-600x612.jpg"}
   %img{:src=>"/assets/species/TAVU/TAVU-closeup-300x306.jpg",:title=>"Closeup of a plant"}
  %a{:href=>"/assets/species/TAVU/TAVU-sideways-600x800.jpg"}
   %img{:src=>"/assets/species/TAVU/TAVU-sideways-300x400.jpg",:title=>"A sideways plant"}
  %a{:href=>"/assets/species/TAVU/TAVU-withleaves-600x900.jpg"}
   %img{:src=>"/assets/species/TAVU/TAVU-withleaves-300x450.jpg",:title=>"A plant with leaves"}