%div{:class=>'topbar'}
 %h1
  %img{:src=>"/assets/logos/weed_warriors.png", :alt => "Weed Warriors"}
 %p{:class=>'alert-message block-message', :id=>"tagline"}
  Information about Vicia cracca - "Bird Vetch"
%div{:id=>'species-content'}
 %div{:class=>'species-description'}
  %h3 Description
  %p Bird vetch (BV) is a climbing perennial plant with weak stems that use coiling tendrils to climb towards sunlight.  Leaves have 8-10 pairs of narrow leaflets.  The bluish-violet flowers are oriented towards one side of a many-flowered cluster.  Bird vetch is differentiated from similar looking climbing, blue-flowered plants by its lack of a winged stem.
  %h3 Ecological impact &mdash; Invasiveness rank 73/100
  %p BV can overgrow herbaceous plants, trees and shrubs by climbing. Removal of dense mats of bird vetch from evergreen trees revealed dead needles and limbs. BV readily establishes in disturbed, grassy areas along roadsides, and from there can spread to natural areas.  BV reproduces from copious amounts of seed (viable for about five years) and by spreading rhizomes (underground runners). BV is a restricted noxious weed in Alaska.
  %h3 Control
  %p BV is difficult to eradicate once established. Hand-pulling can be effective for small infestations (less than 5 plants) or mowing for larger patches, but methodical retreatment will be needed several times per year for several years in order to prevent reproduction and exhaust the seed bank. Securely double bag pulled BV plants (being especially careful if seeds are present) and place in the trash or burn.
 %div{:class=>'species-images'}
  %a{:href=>"/assets/species/VICRC/VICRC-patch-600x900.jpg"}
   %img{:src=>"/assets/species/VICRC/VICRC-patch-300x450.jpg",:title=>"A patch of bird vetch"}
  %a{:href=>"/assets/species/VICRC/VICRC-pods-600x450.jpg"}
   %img{:src=>"/assets/species/VICRC/VICRC-pods-300x225.jpg",:title=>"Seed pods"}
  %a{:href=>"/assets/species/VICRC/VICRC-betterleaves-600x498.jpg"}
   %img{:src=>"/assets/species/VICRC/VICRC-betterleaves-300x249.jpg",:title=>"Leaves"}
  %a{:href=>"/assets/species/VICRC/VICRC-megaclose-600x498.jpg"}
   %img{:src=>"/assets/species/VICRC/VICRC-megaclose-300x249.jpg",:title=>"A close-up"}